* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header .top {
  padding: 10px 0;
  background-color: #f6f7f8;
}

.header .top a {
  font-size: 14px;
  color: #666;
  background-color: transparent;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 15px;

  font-style: normal;
  font-weight: 300;
}
.header .top span {
  color: #878787;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  margin-right: 10px;
  margin-left: 20px;
}
.header .top .kp {
  color: #0056c1;
  border: 1.5px solid #0056c1;
  padding: 4px 12px;
  border-radius: 40px;
  font-weight: 500;
}
.abbimg {
  padding: 15px 0;
  background-color: #ffffff;
}
.abbimg img {
  width: 20%;
  height: 50px;
}
.abbimg a {
  color: #262626;
  background-color: transparent;
  font-size: 15px;
  text-decoration: none;
  opacity: 0.5;
  margin-right: 10px;
}
.abbimg .ib {
  color: #0056c1;
  opacity: 1;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
}
.abbimg i {
  margin-right: 10px;
  font-size: 18px;
}
#sectionsrc {
  background-color: white;
  padding: 20px 0;
  opacity: 0;
  transition: 0.4s;
}
#sectionsrc input {
  font-size: 30px;
  color: #9f9f9f;
}
#sectionsrc i {
  font-size: 25px;
  color: #9f9f9f;
}
